@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

@layer components {
  .btn {
    @apply bg-gold-500 hover:bg-gold-600 text-brown-900 font-semibold py-2 px-4 rounded-lg transition duration-300 transform hover:scale-105;
  }

  .card {
    @apply bg-beige p-6 sm:p-8 shadow-lg rounded-lg transition duration-300 transform hover:scale-105;
  }
}

@layer utilities {
  .bg-brown-900 {
    background-color: #4E342E;
  }

  .text-cream {
    color: #FFFDD0;
  }

  .text-beige {
    color: #F5F5DC;
  }

  .bg-gold-500 {
    background-color: #FFD700;
  }

  .bg-gold-600 {
    background-color: #FFC107;
  }

  .bg-gold-300 {
    background-color: #FFECB3;
  }

  .bg-gold-400 {
    background-color: #FFD54F;
  }
}